@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.eot');
  src: url('fonts/Montserrat-Regular.woff2') format('woff2'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'), url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
}
@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.eot');
  src: url('fonts/Raleway-Regular.woff2') format('woff2'), url('fonts/Raleway-Regular.woff') format('woff'), url('fonts/Raleway-Regular.ttf') format('truetype'), url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg'), url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype');
}
.logo,
.logo__span,
.slider__h1,
.slider__h3,
.slider__p,
body,
ul {
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: 0 auto;
  width: 1920px;
}
header {
  width: 1920px;
  float: left;
  z-index: 1;
  display: flex;
}
.logo {
  display: flex;
  margin-top: 40px;
  margin-left: 376px;
}
.logo__h {
  text-decoration: none;
  padding: 0;
  margin-left: 3px;
  margin-top: 14px;
  color: #fff;
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
}
nav {
  margin-top: 62px;
  margin-left: 219px;
}
ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  margin-right: 30px;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
}
nav ul li:hover {
  color: #c7b299;
}
.slider {
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url('img/photo.png');
  width: 1920px;
  height: 1024px;
}
.slider__h3 {
  text-align: center;
  padding-top: 381px;
  color: #fff;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 500;
}
.slider__h1 {
  text-align: center;
  padding-top: 14px;
  color: #fff;
  font-family: Raleway;
  font-size: 52px;
  font-weight: 700;
}
.slider__p {
  margin: 0 auto;
  text-align: center;
  padding-top: 14px;
  width: 540px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  hyphens: auto;
}
.button-center {
  margin: 73px auto 0;
  width: 300px;
  text-align: center;
}
.slider__button {
  padding: 21px 38px;
  text-decoration: none;
  color: #fff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
}
.slider__button:hover {
  background-color: #998675;
  box-shadow: inset 0 3px 0 #736357;
}
.slider__button:active {
  background-color: #908070;
  box-shadow: inset 0 5px 0 #736357;
}
.pluses {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1166px;
}
.pluses__block {
  margin-top: 81px;
  margin-bottom: 80px;
  width: 266px;
}
.pluses__icon {
  margin: 0 auto;
  width: 52px;
  height: 47px;
  background-image: url("img/pluses.png");
}
.icon__design {
  background-position: 149px 54px;
}
.icon__dev {
  background-position: 65px 56px;
}
.icon__custom {
  background-position: -16px 56px;
}
.icon__marketing {
  background-position: -100px 56px;
}
.pluses__p {
  color: #555555;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.pluses__caption {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
.pluses__line {
  margin: 0 auto;
  margin-top: 30px;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}
.design:hover .icon__design {
  background-position: 149px -6px;
}
.design:hover .pluses__p {
  color: #c7b299;
}
.design:hover .pluses__line {
  background-color: #c7b299;
}
.development:hover .icon__dev {
  background-position: 65px -9px;
}
.development:hover .pluses__p {
  color: #c7b299;
}
.development:hover .pluses__line {
  background-color: #c7b299;
}
.customization:hover .icon__custom {
  background-position: -16px -9px;
}
.customization:hover .pluses__p {
  color: #c7b299;
}
.customization:hover .pluses__line {
  background-color: #c7b299;
}
.marketing:hover .icon__marketing {
  background-position: -100px -9px;
}
.marketing:hover .pluses__p {
  color: #c7b299;
}
.marketing:hover .pluses__line {
  background-color: #c7b299;
}
